body{
  height: 100%;
}

.navbar {
  text-align: center;
  background-color: black;
}

.navbar h1 {
  color: white;
}

.navbar ul {
  padding: 0px;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

h2 {
  text-align: center;
  padding-top: 100px;
}

.image-wrapper{
  vertical-align: middle;
}

.image-slider{
  vertical-align: middle;
}

.description-slider{
}

.article-images{
  max-height: 80vh;
  max-width: 50vw;
  margin: auto;
}

.landing-images {
  margin: 5%;
  width: 100%;
}

#landing-photos {
  float: left;
  width: 30%;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  color: white;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.overlay-text {
  display: inline-block;
  position: relative;
}
