body{
}

.navbar {
  text-align: center;
  background-color: black;
}

.navbar h1 {
  color: white;
}

.navbar ul {
  padding: 0px;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
}

h2 {
  text-align: center;
  padding-top: 100px;
}

.image-wrapper{
  vertical-align: middle;
}

.image-slider{
  vertical-align: middle;
}

.description-slider{
}

.article-images{
  max-height: 80vh;
  max-width: 50vw;
  margin: auto;
}

#landing-photos {

}
